* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* Layout */

.content-header {
    display: flex;
    align-items: center;
    padding: 5px 0 5px 0;
}

.content-main {
    background-color: cadetblue;
}


#gridFizzBuzz {
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: calc(100% / 2);
    height: 80px;
    background-color: white;
    border: 1px solid black;
}



/* Utility */

.pt-10px {
    padding-top: 10px;
}



/* Style */

.bg-cadetblue {
    background-color: cadetblue;
}


.txt-white {
    color: white;
}








/* Media query */

@media screen and (min-width: 376px) {
    .square {
        width: calc(100% / 5);
    }
}

@media screen and (min-width: 576px) {
    .media-button {
        justify-content: end;
    }
}

@media screen and (min-width: 768px) {
    .square {
        width: calc(100% / 10);
    }
}